body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

#container{
    width: 45%;
    margin: 0 auto;
}

#main-image{
    width: 57.3%;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: 400;
    margin-bottom: 32px;
}

h1 span{
    font-weight: 700;
}

span, footer a{
    color:#FF9900;
}

p{
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#main-image, p{
    margin-bottom: 72px;
}

#line-footer{
    width: 95%;
    border-top: 1px solid #ECEFF2;
}

#line-footer, #footer-menu{
    margin: 0 auto 33px;
}

#footer-menu{
    list-style: none;   
    display: flex;
    justify-content: center;
    padding-left: 0;
}

#footer-menu li{
    width: 20%;
    margin-top: 8px;
}

#footer-menu a{
    font-size: 14px;
    line-height: 28px;
}

#footer-menu a:hover{
    color: #bd7100;
}


#balls{
    position: fixed;
    right: 0%;
    bottom: 0%;
}

/* breakpoints */

@media screen and (max-width: 990px){
	h1{
        font-size: 32px;
    }

    #footer-menu li{
        width: 30%;
    }
}

@media screen and (max-width: 800px){
	#footer-menu{
        margin-bottom: 20px;
	}

    #balls{
        width: 10%;
    }
}

@media screen and (max-width: 650px){

    #container{
        width: 70%;
    }
    
    #balls{
        display: none;
    }
}